version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./target/MyBackend-0.0.1-SNAPSHOT.jar:/app/app.jar
    env_file:
      - testapp.env
    networks:
      - my_shared_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  my_shared_network:
    external: true