#local-postgres
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

OLLAMA_BASE_URL=

#SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

RESEND_API=

PROFILE=

KEYSTORE_PASSWORD=